@model StudentManagement.Models.Student
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        姓名：@Model.Name
    </div>
    <div>
        邮箱：@Model.Email
    </div>
    <div>
        班级名称：@Model.ClassName
    </div>
</body>
</html>